# CASE STUDY - BANK LOAN DETAILS

### 1.Analysing Application Dataset

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import random
pd.set_option("max_rows", None)
pd.set_option('display.max_columns', 500)

In [ ]:
df = pd.read_csv("application_data.csv")
df1 = pd.read_csv("previous_application.csv")

In [ ]:
df.head()

#### 1.1 Identification of variables and data types

In [ ]:
df.info()

In [ ]:
df.shape

#### 1.2 Analyzing basic metrics

In [ ]:
df.describe()

#### 1.3 Finding missing values and dropping the columns

In [ ]:
df.isnull().sum()

#### Finding percentage of missing values

In [ ]:

round(df.isnull().sum()/len(df.index)*100,2).sort_values(ascending = False)

#### Dropping missing values with more than 50%

In [ ]:
df = df.loc[:,df.isnull().sum()/len(df.index)<=0.5]
df.shape

In [ ]:
df.info()

#### Dropping unnecessary columns which have missing values less than 13%

In [ ]:
Drop_col=['FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE','YEARS_BEGINEXPLUATATION_MODE','FLOORSMAX_MODE','TOTALAREA_MODE','EMERGENCYSTATE_MODE',
       'FLAG_PHONE', 'FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','FLAG_EMAIL','CNT_FAM_MEMBERS','REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY','DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3','FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21','EXT_SOURCE_3','YEARS_BEGINEXPLUATATION_AVG','FLOORSMAX_AVG','YEARS_BEGINEXPLUATATION_MEDI','FLOORSMAX_MEDI']

df.drop(labels=Drop_col,axis=1,inplace=True)

In [ ]:
df.shape

#### 1.4 Imputing missing values

####  OCCUPATION_TYPE

In [ ]:
df['OCCUPATION_TYPE'].value_counts()

In [ ]:
occ=df.OCCUPATION_TYPE.mode()[0]
occ

OCCUPATION_TYPE can be imputed with the mode value of the column i.e Laborers

#### NAME_TYPE_SUITE

In [ ]:
df['NAME_TYPE_SUITE'].value_counts()

In [ ]:
nts=df.NAME_TYPE_SUITE.mode()[0]
nts

NAME_TYPE_SUITE is a categorical column which can be imputed using the mode of the column i.e Unaccompanied

#### EXT_SOURCE_2

In [ ]:
df['EXT_SOURCE_2'].value_counts()

In [ ]:
df['EXT_SOURCE_2'].plot(kind='box')

In [ ]:
ext = round(df['EXT_SOURCE_2'].mean(),2)
ext

EXT_SOURCE_2 no outliers, hence can be imputed with mean value

#### AMT_GOODS_PRICE

In [ ]:
df['AMT_GOODS_PRICE'].value_counts()

In [ ]:
df['AMT_GOODS_PRICE'].plot(kind='box')

In [ ]:
#as it has outliers,median value can be imputed
amt = round(df['AMT_GOODS_PRICE'].median(),2)
amt

AMT_GOODS_PRICE has outliers, it can be imputed using the median of the coumn i.e. 450000.0

#### AMT_ANNUITY

In [ ]:
df['AMT_ANNUITY'].value_counts()

In [ ]:
df['AMT_ANNUITY'].plot(kind='box')

In [ ]:
amt_a = round(df['AMT_ANNUITY'].median(),2)
amt_a

AMT_ANNUITY has outliers and can be imputed using the median of the coumn i.e. 24903.0

#### 1.5 Checking data types

In [ ]:
#changing negative to positive valuesÂ¶
df[['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']]=abs(df[['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']])
df.describe()

In [ ]:
# converting int to object
df[['REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY']] = df[['REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY']].astype(object)
df.info()

In [ ]:
#Making Gender more readable
df['CODE_GENDER'].value_counts()

In [ ]:
#dropping code_gender=XNA from the dataset
df = df[df['CODE_GENDER']!='XNA']
df['CODE_GENDER'].replace(['M','F'],['Male','Female'],inplace=True)
df['CODE_GENDER'].value_counts()

In [ ]:
#### convert days_birth colun to age (age in years = age in days / 365)
df['YEARS_BIRTH']= (df['DAYS_BIRTH']/365).astype('int64')
##drop DAYS_BIRTH column as it is not required for further analysis
df.drop(['DAYS_BIRTH'], inplace=True, axis=1)

df['YEARS_BIRTH']

### 2. Analysing Previous Application Dataset

#### 2.1 Identifying data types and variables

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.shape

#### 2.2 Analyzing basic metrics

In [ ]:
df1.describe()

#### 2.3 Finding missing values in rows and columns

In [ ]:
df1.isnull().sum()

In [ ]:
#Finding percentage of missing values
round(df1.isnull().sum()/len(df1.index)*100,2).sort_values(ascending = False)

#### dropping values which are greater than 50%

In [ ]:
df1 = df1.loc[:,df1.isnull().sum()/len(df1.index)<=0.5]

In [ ]:
df1.shape

In [ ]:
df1 = df1.sort_values('SK_ID_PREV', ascending=False).drop_duplicates('SK_ID_CURR')

In [ ]:
df1[df1['DAYS_TERMINATION'] > 0].head()

In [ ]:
df1.shape

#### Renaming column names

In [ ]:
df1_1 = df1[['SK_ID_CURR', 'AMT_CREDIT', 'NAME_CONTRACT_STATUS', 'CODE_REJECT_REASON', 'NAME_YIELD_GROUP', 'DAYS_TERMINATION']]
df1_1.head()

In [ ]:
names = {'AMT_CREDIT': 'PREV_AMT_CREDIT', 'NAME_CONTRACT_STATUS': 'PREV_CONTRACT_STATUS',
         'DAYS_TERMINATION':'PREV_DAYS_TERMINATION', 'CODE_REJECT_REASON':'PREV_REJECT_REASON',
        'NAME_YIELD_GROUP':'PREV_YIELD_GROUP'}

df1_1 = df1_1.rename(columns=names)
df1_1.head()

#### 2.4 Imputing missing values

In [ ]:
df1_1.PREV_DAYS_TERMINATION.value_counts(normalize=True)

In [ ]:
df1_1.PREV_DAYS_TERMINATION[df1_1.PREV_DAYS_TERMINATION > 0].value_counts()

In [ ]:
# Replace values with NaN

df1_1.PREV_DAYS_TERMINATION.replace({365243.0 : np.NaN}, inplace=True)
df1_1.PREV_DAYS_TERMINATION[df1_1.PREV_DAYS_TERMINATION > 0].value_counts()

### 3. Merging Application Dataset with Previous Application Dataset

In [ ]:
df = pd.merge(left=df,right=df1_1, how='left', left_on='SK_ID_CURR', right_on='SK_ID_CURR')
df.head()

In [ ]:
df.shape

### 4. Handling Outliers

#### AMT_ANNUITY variable

In [ ]:
df.AMT_ANNUITY.describe()

In [ ]:
sns.boxplot(df.AMT_ANNUITY)
plt.title('Distribution of Amount Annuity')
plt.show()

In [ ]:
##Remove the outliers
df=df[df['AMT_ANNUITY'] <= 200000]

In [ ]:
sns.boxplot(df['AMT_ANNUITY'])
plt.show()

#### AMT_INCOME_TOTAL

In [ ]:
df.AMT_INCOME_TOTAL.describe()

In [ ]:
plt.figure(figsize=(9,2))
sns.boxplot(df.AMT_INCOME_TOTAL)
plt.xscale('log')
plt.title('Distribution of Income')
plt.show()

In [ ]:
df.AMT_INCOME_TOTAL.quantile([0.5, 0.7, 0.9,0.95,0.99])

In [ ]:
##Remove the outliers
df=df[df['AMT_INCOME_TOTAL'] <= 5*pow(10,6)]

In [ ]:
sns.boxplot(df['AMT_INCOME_TOTAL'])
plt.show()

#### AMT_CREDIT

In [ ]:
df.AMT_CREDIT.describe()

In [ ]:
plt.figure(figsize=(9,2))
sns.boxplot(df.AMT_CREDIT)
plt.title('Distribution of Credit amount')
plt.show()

In [ ]:
df.AMT_CREDIT.quantile([0.5, 0.7, 0.9,0.95,0.99])

In [ ]:
##Remove the outliers
df=df[df['AMT_CREDIT'] <= 2.7*pow(10,6)]

In [ ]:
sns.boxplot(df['AMT_CREDIT'])
plt.show()

#### DAYS_EMPLOYED

In [ ]:
df.DAYS_EMPLOYED.describe()

In [ ]:
plt.figure(figsize=(15,5))
sns.boxplot(df.DAYS_EMPLOYED)
plt.title('Distribution of Days the client employed')

plt.show()

In [ ]:
##Remove the outliers
df=df[df['DAYS_EMPLOYED'] <= 800]

In [ ]:
sns.boxplot(df.DAYS_EMPLOYED)

plt.show()

#### DAYS_REGISTRATION

In [ ]:
df.DAYS_REGISTRATION
sns.boxplot(df['DAYS_REGISTRATION'])

DAYS_REGISTRATION column has no outliers

#### CNT_CHILDREN

In [ ]:
sns.boxplot(df['CNT_CHILDREN'])
plt.show()

In [ ]:
##Remove the outliers
df=df[df['CNT_CHILDREN'] <= 6]

In [ ]:
sns.boxplot(df['CNT_CHILDREN'])
plt.show()

### 5. Binning Variables for Analysis

In [ ]:
#Creating bins for Credit amount

bins = [0,350000,700000,1000000000]
slots = ['Low','Medium','High']
df['AMT_CREDIT_RANGE']=pd.cut(df['AMT_CREDIT'],bins=bins,labels=slots)

In [ ]:
# Creating bins for income amount

bins = [0,200000,400000,10000000000]
slot = ['Low','Medium','High']

df['AMT_INCOME_RANGE']=pd.cut(df['AMT_INCOME_TOTAL'],bins,labels=slot)

In [ ]:
# Creating bins for days_birth

bins = [0,7300,10950,14600,18250,21900,25500]
slot = ['0-20','20-30','30-40','40-50','50-60','60-70']

df['AGE_RANGE']=pd.cut(df['YEARS_BIRTH'],bins,labels=slot)

In [ ]:
#Creating a column AGE using DAYS_BIRTH
df['AGE']=abs(df['YEARS_BIRTH'])//365.25
df['AGE_GROUP'] = pd.cut(df['AGE'],bins=np.arange(20,71,5))

In [ ]:
df.describe()

### 6. Univariate Analysis

#### CODE_GENDER

In [ ]:
# analyse gender distribution in data

df.CODE_GENDER.value_counts(normalize = True)*100

In [ ]:
# plot a bar graph for gender columns
df.CODE_GENDER.value_counts(normalize = True).plot.barh()
plt.show()

#### NAME_EDUCATION_TYPE

In [ ]:
df.NAME_EDUCATION_TYPE.value_counts()

In [ ]:
# bar chart for education type
df.NAME_EDUCATION_TYPE.value_counts(normalize=True).plot.bar()
plt.show()

#### NAME_FAMILY_STATUS

In [ ]:
# bar chart for family status

df.NAME_FAMILY_STATUS.value_counts(normalize=True).plot.bar()
plt.show()

#### OCCUPATION_TYPE

In [ ]:
df.OCCUPATION_TYPE.value_counts(normalize=True)*100

In [ ]:
# bar chart for OCCUPATION type excluding others

plt.figure(figsize=(8,5))
df[~(df.OCCUPATION_TYPE == 'Others')].OCCUPATION_TYPE.value_counts(normalize=True).plot.bar()
plt.show()

#### AGE

In [ ]:
#bar chart for age
plt.style.use('ggplot')
plt.figure(figsize=(10,6))
plt.hist(df.AGE,bins = 20, edgecolor='White')
plt.show()

In [ ]:
# To better represent the age we can bin age into groups LIKE ,30, 30-40, 40-50, 50-60, 60+ 

age_buckets = ['<30','30-40','40-50','50-60','60+']
df['AGE_GROUP'] = pd.cut(df.AGE, [0,30,40,50,60,999], labels=age_buckets)
df['AGE_GROUP'].value_counts(normalize=True)*100

#### AMT_INCOME_TOTAL

In [ ]:
#AMT_INCOME_TOTAL
plt.figure(figsize=(10,6))
plt.hist(df[df.AMT_INCOME_TOTAL < 10**6].AMT_INCOME_TOTAL, bins=20, edgecolor='White')
plt.show()

#### AMT_CREDIT

In [ ]:
#AMT_CREDIT
plt.figure(figsize=(10,6))
plt.hist(df.AMT_CREDIT, bins=20, edgecolor='White')
plt.show()

#### FLAG_OWN_REALITY

In [ ]:
#FLAG_OWN_REALITY
df.FLAG_OWN_REALTY.value_counts(normalize=True)*100

In [ ]:
# plot FLAG_OWN_REALTY 
df.FLAG_OWN_REALTY.value_counts(normalize=True).plot.bar()
plt.show()

###  7. Bivariate Analysis

#### Numeric - Numeric Analysis

In [ ]:
#plotting the relation between numeric vriables
plt.figure(figsize=[6,2])
sns.pairplot(df[['AMT_ANNUITY','AMT_CREDIT','AMT_GOODS_PRICE','DAYS_EMPLOYED','DAYS_REGISTRATION']], 
             diag_kind = 'kde', 
             plot_kws = {'alpha': 0.4, 's': 80, 'edgecolor': 'k'},
             size = 4)
plt.show()

- There is not such correlation can be observed from the above pairplot
- Linear correlation present between AMT_GOODS_PRICE vs AMT_CREDIT , AMT_GOODS_PRICE vs AMT_ANNUITY

#### Numeric - Categorical Analysis

In [ ]:
#by variant analysis function
def plot_by_cat_num(cat, num):

    plt.style.use('ggplot')
    sns.despine
    fig,ax = plt.subplots(1,1,figsize=(10,8))
    
    sns.boxenplot(x=cat,y = num, data=df)
    ax.set_ylabel(f'{num}')
    ax.set_xlabel(f'{cat}') 
    ax.set_title(f'{cat} Vs {num}',fontsize=15)
    ax.set_xticklabels(ax.get_xticklabels(), rotation=40, ha="right")
     
    plt.show()

In [ ]:
#by-varient analysis of Contract type and Amt credit of previous appliction
plot_by_cat_num('NAME_CONTRACT_TYPE', 'AMT_CREDIT')

- There is huge difference between 75th quartile in cash loans and revolving loans
- There are some outliers present in cash loan
- Number of clients is very high for cash loans than revolving loan

In [ ]:
#by-varient analysis of name education type and Amt credit of previous appliction
plot_by_cat_num('NAME_EDUCATION_TYPE', 'AMT_CREDIT')


- median is approximatey same for each education type
- Number of outliers are present for each education type

In [ ]:
#by-varient analysis of name income type and Amt credit of previous appliction
plot_by_cat_num('NAME_INCOME_TYPE', 'AMT_CREDIT')


- Number of outliers are more for woeking and commercial associate as compared to state servant
- Median is heighest for commercial associate

In [ ]:
#by-varient analysis of name income type and Amt credit of previous appliction
plot_by_cat_num('OCCUPATION_TYPE', 'AMT_CREDIT')


- Number of outliers is also more for each occupation type
- Median of occupation type Managers is heighest

In [ ]:
#by-varient analysis of name income type and Amt credit of previous appliction
plot_by_cat_num('OCCUPATION_TYPE', 'AMT_INCOME_TOTAL')


- Occupation type Managers have heighest income total
- Cleaning staff, cooking staff ,Low skill laboreres have lowest income total

In [ ]:
#by-varient analysis of name income type and Amt credit of previous appliction
plot_by_cat_num('AMT_INCOME_TOTAL', 'CODE_GENDER')


- Number of outliers are more for male gender
- Median of income total is more of male gender as compared with female gender

In [ ]:
#by-varient analysis of name income type and Amt credit of previous appliction
plot_by_cat_num('AMT_INCOME_TOTAL', 'NAME_EDUCATION_TYPE')


- More outliers present in the education type Higher education and secondary special
- Median of income total is lowest for education type lower secondary

#### Categorical - Categorical

In [ ]:
def plotuni_combined(Varx,Vary):
    # 100% bar chart
    plt.style.use('ggplot')
    sns.despine
    NewDat = df.pivot_table(values='SK_ID_CURR', 
                      index=Varx,
                      columns=Vary,
                      aggfunc='count')
    NewDat=NewDat.div(NewDat.sum(axis=1),axis='rows')*100
    sns.set()
    NewDat.plot(kind='bar',stacked=True,figsize=(15,5))
    plt.title(f'Effect Of {Varx} on Loan Approval')
    plt.xlabel(f'{Varx}')
    plt.ylabel(f'{Vary}%')
    plt.show()

In [ ]:
plotuni_combined('FLAG_OWN_CAR','NAME_EDUCATION_TYPE')

- Clients with Education type academic are not available in data
- Clients having education type Secondary/secondary special have heighest number of cars

In [ ]:
plotuni_combined('CODE_GENDER','OCCUPATION_TYPE')

- Very few Female and male clints are present having occupation type HR staff and IT staff 
- Proportion of male and female clients with occupation type managers is some what same.
- Proportion of female clients is more having occupation type Core staff, Sales staff , Accountants , cleaning staff , cooking staff and unknown
- Very less male clients present in Reality agents, Private service staff, Medicine staff, Waiters/barmen staff
- Number of male cilents is more in Drivers, Security staff and Laborers

In [ ]:
plotuni_combined('NAME_INCOME_TYPE','NAME_CONTRACT_TYPE')

- There is not any correlation between income type Businessman and Student
- Number of cash loan client is very high for students

### 8. Multivariate Analysis

In [ ]:
res = pd.pivot_table(data=df, index='OCCUPATION_TYPE', columns='NAME_CONTRACT_TYPE', values='TARGET')
res

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(res, annot=True, cmap='YlOrRd', center=0.081)
plt.show()

In [ ]:
res = pd.pivot_table(data=df, index='NAME_EDUCATION_TYPE', columns='NAME_CONTRACT_TYPE', values='TARGET')
res

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(res, annot=True, cmap='YlOrRd', center=0.081)
plt.show()

In [ ]:
res = pd.pivot_table(data=df, index='OCCUPATION_TYPE', columns='NAME_EDUCATION_TYPE', values='TARGET')
res

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(res, annot=True, cmap='YlOrRd', center=0.081)
plt.show()

In [ ]:
res = df[['TARGET', 'AGE', 'AMT_INCOME_TOTAL','AMT_CREDIT', 'EXT_SOURCE_2', 'CODE_GENDER', 'NAME_FAMILY_STATUS']].corr()
res

In [ ]:
plt.figure(figsize=(8,8))
sns.heatmap(res, annot=True, cmap='YlOrRd', vmin=-1,vmax=1)
plt.show()

### 9. Correlation

In [ ]:
#finding correlation
corr=df.corr()
corr_df = corr.where(np.triu(np.ones(corr.shape),k=1).astype(np.bool)).unstack().reset_index()
corr_df.columns=['Column1','Column2','Correlation']
corr_df.dropna(subset=['Correlation'],inplace=True)
corr_df['Abs_Correlation']=corr_df['Correlation'].abs()
corr_df = corr_df.sort_values(by=['Abs_Correlation'], ascending=False)
corr_df.head(10)

In [ ]:
##create new dataframe for target=1
target_1=df[df['TARGET']==1]
target_1.head()

In [ ]:
target_1.shape

In [ ]:
#Create new dataframe for target=0
target_0=df[df['TARGET']==0]
target_0.head()

In [ ]:
target_0.shape

In [ ]:
###plot heatmap to find correlation between all numerical variables when target_0
plt.figure(figsize=(30,15)) 
sns.heatmap(target_0.corr(), annot=True , cmap="RdYlGn",center=0.4)
plt.title('Correlation for target_0')
plt.show()

- AMT_GOODS_PRICE and AMT_CREDIT have heighest correlation around 0.99
- AMT_GOODS_PRICE and AMT_ANNUITY is also showing good correlation

In [ ]:
###plot heatmap to find correlation between all numerical variables when target_1
plt.figure(figsize=(30,15)) 
sns.heatmap(target_1.corr(), annot=True, cmap="RdYlGn",center=0.4)
plt.title('Correlation for target_1')
plt.show()

 - AMT_CREDIT and AMT_GOODS_PRICE have heighest correlation around 0.98